.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript
/_freeze
/images

/agujournal2019.cls
/trackchanges.sty
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

**/*.quarto_ipynb

*.docx
*.bib
*.csl
